html, body {
    margin: 0;
    height: 100%;
    /*overflow: hidden;*/
}

body {
    background: #dddddd;
}
body * {
    box-sizing: border-box;
}

#parent_div {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
}

.canvas {
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #aaaaaa;
}

#my_Canvas {
    height: 100%;
    float: left;
    transition: 1s;
}

#my_Canvas.opened {
    width: 80%;
}

#my_Canvas.closed {
    width: 98.4%;
}

#canvas-2-div {
    min-width: 120px;
    min-height: 120px;
    bottom: 0;
    left: 0;
    margin: 3px;
    position: absolute;
    transition: 1s;
}

#canvas-2-div.closed {
    width: 18vw;
    height: 18vw;
}

#canvas-2-div.opened {
    bottom: 5%;
    left: 5%;
    width: 90vw;
    height: 90vh;
}

#canvas-2 {
    width: 100%;
    height: 100%;
}

#menu-container {
    box-sizing: border-box;
    border: 1px inset black;
    min-width: 1.5%;
    max-width: 20%;
    width: fit-content;
    height: 100%;
    float: left;
}

#menu-button {
    box-sizing: border-box;
    width: 1.2vw;
    height: 100%;
    border: 2px inset black;
    font-size: 1em;
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    display: block;
    float: left;
}

#ui-container {
    transition: 1s;
    float: left;
    padding-top: 40px;
}

#ui-container.opened {
    width: 90%;
    /*border: 2px solid red;*/
    height: 100%;
}

#ui-container.closed {
    width: 0;
    height: 100%;
}

#ui-container.closed * {
    display: none;
}

#ui-container * {
    margin: 3px 1vw;
}

#canvas-2-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

#canvas-2-text-foto {
    position: absolute;
    top: 10px;
    left: 10px;
}

#canvas-2-download {
    position: absolute;
    top: 10px;
    right: 50%;
}

button {
    float: left;
    width: 80px;
    height: 30px;
    margin: 2px;
}

button.invisible {
    /*display: none;*/
    visibility: hidden;
}

.buttonDiv {
    position: fixed;
    top: 4px;
    left: 4px;
    width: 200px;
}

.buttonText {
    background-color: white;
    border-radius: 10pt;
    border: solid white 2pt;
    background-clip: border-box;
}

.mobileVisible{
    display: none;
}

/** RESPONSIVE FOR MOBILE PHONES **/
@media only screen and (max-width: 1000px) {
    #my_Canvas.opened {
        width: 50%;
        min-width: 110px;
    }

    #my_Canvas.closed {
        width: 95%;
    }

    #menu-container {
        min-width: 12px;
        max-width: 49.5%;
    }

    #menu-button {
        width: 12px;
        font-size: 1em;
    }

    #ui-container *{
        font-size: 3em;
    }

    .mobileVisible{
        display: inline;
    }

    .buttonDiv {
        top: 4px;
        left: 4px;
        width: 150px;
    }

    button {
        width: 12em;
        height: 7em;
        font-size: 5em;
    }

}
